/*font google*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

/*navbar*/
.navbar{
	background-color: #016170;
}
.navbar-brand{
	font-family: 'rokkitt', serif;
}
.nav-link{
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
}

/*hero*/
.background{
	background-color: #F0E6E6;
	height: 340px;
	position: relative;
}
/*img .hero-picture{
	max-width: 100%;
	border-radius: 50%;
	background-color: #fff;
	margin: auto;
	margin-top: -310px;
	position: relative;
	z-index: 2;
	padding: 5px;
}*/
.hero-picture{
	max-width: 100%;
	border-radius: 50%;
	background-color: #fff;
	margin: auto;
	margin-top: -310px;
	position: relative;
	z-index: 2;
	padding: 5px;
}
.nama{
	font-family: 'montserrat', sans-serif;
}
.caption{
	font-family: 'Open Sans', sans-serif;
}
.contact-me{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	font-family: 'montserrat', sans-serif;
}

/*about*/
.text-header{
	font-family: 'montserrat', sans-serif;
	font-size: 23px;
}
.list-social .item{
	text-decoration: none;
	color: #009393;
	font-size: 1.5rem;
	background-color: #F0E6E6;
	padding: 7px;
	border-radius: 7px;
}
.my-badge{
	width: 520px;
	height: 19px;
	max-width: 100%;
	background-color: #F0E6E6;
	border-radius: 10px;
}
.my-badge-1{
	height: 19px;
	width: 370px;
	max-width: 65%;
	background-color: #009393;
	color: #fff;	
	border-radius: 10px;
	text-align: center;
}
.my-badge-2{
	height: 19px;
	width: 370px;
	max-width: 55%;
	background-color: #009393;
	color: #fff;	
	border-radius: 10px;
	text-align: center;
}
.my-badge-3{
	height: 19px;
	width: 370px;
	max-width: 25%;
	background-color: #009393;
	color: #fff;	
	border-radius: 10px;
	text-align: center;
}
.my-badge-4{
	height: 19px;
	width: 370px;
	max-width: 70%;
	background-color: #009393;
	color: #fff;	
	border-radius: 10px;
	text-align: center;
}
.my-badge-5{
	height: 19px;
	width: 370px;
	max-width: 30%;
	background-color: #009393;
	color: #fff;	
	border-radius: 10px;
	text-align: center;
}
/*project*/
.background-col{
	width: 680px;
	height: 370px;
	background-color: #00E0C8;
}
.image-project{
	width: 688px;
	height: 341px;
	margin-top: 13px;
	margin-left: 10px;
	max-width: 100%;
}
.background-col-1{
	width: 650px;
	height: 370px;
	background-color: #000;
}
.image-project-1{
	margin-top: 13px;
}

/*contact*/
.button{
	width: 130px;
	text-decoration: none;
	padding: 8px;
	border-radius: 5px;
	background-color: #016170;
	color: #fff;
	font-weight: bold;
	font-family: 'montserrat', sans-serif;
	text-align: center;
}
.button:hover{
	color: #fff;
}

.footer{
	background-color: #016170;
	color: #fff;
	font-size: 14px;
	font-family: 'montserrat', sans-serif;
	height: 60px;
	padding: 25px;
	margin-top: 6rem;
}
